@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akaya Telivigala', cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);

}
.container{
    width: 550px;
    height: 100px;
    background-color: #7f5a83;
    background-image: linear-gradient(150deg, #7f5a83 0%, #0d324d 74%);
    border: none;
    box-shadow: 1px 1px 35px rgb(144, 162, 196);
    border-radius: 5px;
    text-align: center;
    line-height: 80px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.container .time{
    color: aliceblue;
    font-size: 6rem;
}